<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Workflow Desktop</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>
      <img src="./assets/icon.png" class="appIcon" alt="App Icon" />
      Workflow Task Manager
    </h1>

    <!-- Task Creation Form -->
    <div id="inputContainer">
      <input type="text" id="taskTitle" placeholder="Enter task title" />
      <input
        type="text"
        id="taskDescription"
        placeholder="Enter task description"
      />
      <input type="date" id="taskDueDate" />
      <label for="repeatDays">Repeat Every:</label>
      <select id="repeatDays">
        <option value="">No Repeat</option>
        <option value="1">1 Day</option>
        <option value="7">1 Week</option>
        <option value="30">1 Month</option>
      </select>
      <!-- Added class "taskButton" so styling applies -->
      <button id="saveTaskButton" class="taskButton">Save</button>
    </div>

    <!-- Buttons to open other windows -->
    <div class="taskButtonsContainer">
      <!-- Added class "taskButton" -->
      
      <button id="completedTasksButton" class="taskButton">Completed</button>
    </div>

    <!-- Task List -->
    <div id="taskList">
      <p>Loading tasks...</p>
    </div>

    <script src="../renderer.js"></script>
  </body>
</html>
